<div class="ui large blue left ribbon label">
    <i class="line chart icon"></i>All Details <i class="pointing down icon"></i>
</div>
<br><br>
<div class="ui center aligned four column grid">
    <div class="column">
        <div class="ui raised card">
            <div class="ui small centered image" "{{member.firstName}} {{member.lastName}}">
        </div>
    </div>
</div>
<div class="column">
    <div class="ui raised card">
        <div class="ui small centered image" "The BMI Category determined by the BMI Reading">
        <i class="ui center aligned massive teal doctor icon"></i>
    </div>
    <div class="content">
        <label class="ui center aligned header">{{bmiCategory}}</label>
    </div>
</div>
</div>
<div class="column">
    <div class="ui raised card">
        <div class="ui small centered image" "The BMI reading from calculation of height to weight ratio">
        <i class="ui center aligned massive yellow heartbeat icon"></i>
    </div>
    <div class="content">
        <label class="ui center aligned header">{{bmi}} BMI</label>
    </div>
</div>
</div>

<div class="column">
    <div class="ui raised card">
        <div class="ui small centered image" "Colors change to indicate the weight control limits">
        <i class="massive {{idealBodyWeight}} dashboard icon"></i>
    </div>
    <div class="content">
        <label class="ui center aligned header">IDEAL BODY WEIGHT</label>
    </div>
</div>
</div>
</div>