<section class="ui inverted blue center aligned segment">
    {{#each member.assessments}}
        <div class="ui column">
            <table class="ui fixed yellow center aligned table">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Weight</th>
                    <th>Chest</th>
                    <th>Thigh</th>
                    <th>Upper Arm</th>
                    <th>Waist</th>
                    <th>Hips</th>
                    <th>Comment</th>
                    <th>Trend</th>
                    <th>Remove</th>
                </tr>
                </thead>
                <tbody>
                <div class="ui list">
                    <tr>
                        <td> {{date}} </td>
                        <td> {{weight}} </td>
                        <td> {{chest}} </td>
                        <td> {{thigh}} </td>
                        <td> {{upperArm}} </td>
                        <td> {{waist}} </td>
                        <td> {{hips}} </td>
                        <td> {{comment}} </td>
                        <td><i class="large {{trend}} bullseye icon"></i></td>
                        <td>
                            <a href="/trainerDashboard/{{../memberid}}/removeassessment/{{assessmentid}}">
                                <i class=" large red trash icon"></i>
                            </a>
                        </td>
                    </tr>
                </div>
                </tbody>
            </table>

            <section class="ui center aligned section">
                <h4> Comment </h4>
                <form class="ui section form" action="/trainerDashboard/{{../memberid}}/updatecomment/{{assessmentid}}"
                      method="POST">
                    <div>
                        <input placeholder="Insert comment..." name="comment" required>
                    </div>
                    <div>
                        <br>

                        <button class="ui animated fade blue submit button">
                            <div class="visible content"><i class="write icon"></i>Update Comment</div>
                            <div class="hidden content">Click to Save</div>
                        </button>
                    </div>
                </form>
            </section>
            <br><br>
        </div>
    {{/each}}
</section>
