<div class="ui two column grid basic segment">
    <div class="column">
        <section class="ui inverted brown segment">
            <div class="ui large blue left ribbon label">
                <i class="add to calendar icon"></i> Set new Goal
            </div>

            <section class="ui yellow segment">
                <table class="ui fixed left aligned table">
                    <tr>
                        <td><i class="user icon"></i>member:</td>
                        <td>{{goalToUpdate.memberfirstname}} {{goalToUpdate.memberlastname}}</td>
                    </tr>
                    <tr>
                        <td><i class="universal access icon"></i>Target Area:</td>
                        <td>{{goalToUpdate.area}}</td>
                    </tr>
                    <tr>
                        <td><i class="bullseye icon"></i>Target Goal:</td>
                        <td>{{goalToUpdate.goal}}</td>
                    </tr>
                    <tr>
                        <td><i class="write icon"></i>Description:</td>
                        <td>{{goalToUpdate.description}}</td>
                    </tr>
                </table>
            </section>
        </section>
    </div>
</div>

<div class="column">
    <section class="ui inverted brown segment">
        <section class="ui inverted brown segment">
            <div class="ui raised grid">
                <div class="column">
                    <form class="ui yellow raised segment form" action="/trainerDashboard/editTargetDate/{{goalToUpdate.goalid}}" method="POST">
                        <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            <input placeholder="date" type="date" name="date" required>
                        </div>
                        &emsp;&emsp;&emsp;
                        <button class="ui animated fade blue submit button">
                            <div class="visible content"><i class="upload icon"></i>Update Target Date</div>
                            <div class="hidden content">Click to Save</div>
                        </button>
                    </form>
                </div>
            </div>
        </section>

        <section class="ui inverted brown segment">
            <div class="ui grid">
                <div class="ui column">
                    <form class="ui yellow raised segment form" action="/trainerDashboard/editTargetArea/{{goalToUpdate.goalid}}" method="POST">
                        <div class="two fields">
                            <div class="field">
                                <select class="ui dropdown " name="area" title="area">
                                    <option value=""> Select Target Area</option>
                                    <option value="Weight"> Weight</option>
                                    <option value="Chest"> Chest</option>
                                    <option value="Thigh"> Thigh</option>
                                    <option value="Upper Arm"> Upper Arm</option>
                                    <option value="Waist"> Waist</option>
                                    <option value="Hips"> Hips</option>
                                </select>
                            </div>
                            &emsp;&emsp;&emsp;
                            <div class="field">
                                <button class="ui animated fade blue submit button">
                                    <div class="visible content"><i class="upload icon"></i>Update Target Area</div>
                                    <div class="hidden content">Click to Save</div>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </section>
</div>
</div>