<section class="ui inverted blue segment">
    <h2 class="ui center aligned header">Trainer {{trainer.lastName}}</h2>
    <div class="ui large blue ribbon label">
        <i class="info circle icon"></i> Gym Member Assessments
    </div>
    <table class="ui fixed yellow center aligned celled table">
        <thead>
        <tr>
            <th>Member Name</th>
            <th>Target Date</th>
            <th>Target Area</th>
            <th>Description</th>

        </tr>
        </thead>
        <tbody>
        {{#each members}}
            <div class="ui list">
            <tr>
                <td>{{member.firstname}} {{member.lastname}}</td>
                <td>{{date}}</td>
                <td>{{area}}</td>
                <td>{{goal}}</td>
                <td>{{description}}</td>
            <td>

        {{/each}}

            <td>
                <a href="/trainerDashboard/removemember/{{memberid}}" > <i class=" large red trash icon"></i> </a>
            </td>

    </table>
</section>
</section>
